<!doctype html>
<html>
<head>
	<title>FlowNotes Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      	body{
        	font-family: Arial, Helvetica, sans-serif;
      	}
      	form{
        	border: 3px solid black;
        	margin: 25px;
      	}
      	input[type=text], input[type=password] {
        	width: 100%;
        	padding: 10px 20px;
        	margin: 10px 0;
        	display: inline-block;
        	border: 1px solid black;
        	box-sizing: border-box;
      	}
      	button {
        	color: white;
        	padding: 15px 20px;
        	margin: 15px 0;
        	border: none;
        	cursor: pointer;
        	width: 80%;
      	}
      	button: hover {
        	opacity: 0.5;
      	}
        .link {
            cursor: pointer;
			color: #505050;
        }
        #carousel {
    		width: 100%;
    		height: 370px;
    		background-color: black;
    		overflow: auto;
    		white-space:nowrap;
		}
		#carousel .slide {
    		display: inline-block;
		}
		img {
  			width: 220px;
  			height: 350px;
  			object-fit: cover;
		}
    </style>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
	{{> facebook}}
	<script src="/js/facebook.js"></script>
	<script>
      	$(document).ready(function() {
        	$("#skip").on("click", function(e) {
            	e.preventDefault();
  				$(".loginPage").fadeOut();
  				$(".userGuide").fadeIn();
          	});
          	$(".userGuide").hide();
          	$(".realUserGuide").hide();
        	$("#show").on("click", function(e) {
            	e.preventDefault();
  				$(".userGuide").fadeOut();
  				$(".realUserGuide").fadeIn();
          	});
        	$("#go").on("click", function(e) {
            	e.preventDefault();
            	window.location = "https://adoring-kirch-b34016.netlify.app/";
          	});
        	$("#go2").on("click", function(e) {
            	e.preventDefault();
            	window.location = "https://adoring-kirch-b34016.netlify.app/";
          	});
        });
    </script>
	</head>
	<body style="text-align:center;max-width:600px;margin:auto">
    	<h2>FlowNotes Login</h2>
    	<form method="post">
      		<div class="loginPage">
				<p class="facebookLogin">Please log in through Facebook for the best experience: 
					<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
					</fb:login-button>
				</p>
				<p class="link" id="skip"><u>I want to use FlowNotes without logging in through Facebook.</u></p>
			</div>
      		<div class="userGuide">
				<p id="important"></p>
				<p>Have you ever used FlowNotes before?</p>
    			<button type="button" id="show" style="background-color:darkgreen">No. Show me the user guide please!</button>
    			<button type="button" id="go" style="background-color:darkgrey">Yes. And I want to go to it now.</button>
			</div>
      		<div class="realUserGuide">

      			<div id="carousel">
    				<div class="slide">
        				<img src="images/UserGuide0001.png"/>
    				</div>
    				<div class="slide">
        				<img src="images/UserGuide0002.png"/>
    				</div>
    				<div class="slide">
        				<img src="images/UserGuide0003.png"/>
    				</div>
    				<div class="slide">
        				<img src="images/UserGuide0004.png"/>
    				</div>
    				<div class="slide">
        				<img src="images/UserGuide0005.png"/>
    				</div>
    				<div class="slide">
        				<img src="images/UserGuide0006.png"/>
    				</div>
				</div>

    			<button type="button" id="go2" style="background-color:darkgreen">OK I see. Let's get started!</button>
			</div>
    	</form>
	</body>
</html>